.u-section-1 .u-sheet-1 {
  min-height: 1301px;
}

.u-section-1 .u-text-1 {
  font-family: "Noto Serif Thai";
  margin: 35px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 607px;
  width: 1140px;
  margin: 3px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 25px auto 0 200px;
  padding: 6px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 274px;
  padding: 6px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 348px;
  padding: 6px;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 422px;
  padding: 6px;
}

.u-section-1 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 496px;
  padding: 6px;
}

.u-section-1 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 574px;
  padding: 6px;
}

.u-section-1 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 648px;
  padding: 6px;
}

.u-section-1 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 723px;
  padding: 6px;
}

.u-section-1 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 799px;
  padding: 6px;
}

.u-section-1 .u-icon-10 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 873px;
  padding: 6px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: 20px auto 0 216px;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: -22px auto 0 273px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: -22px auto 0 362px;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: -22px auto 0 431px;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: -22px auto 0 507px;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: -22px auto 0 595px;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  margin: -22px auto 0 655px;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  margin: -22px auto 0 738px;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  margin: -22px auto 0 796px;
}

.u-section-1 .u-text-11 {
  font-size: 0.875rem;
  margin: -22px auto 0 870px;
}

.u-section-1 .u-image-1 {
  height: 449px;
  transition-duration: 0.5s;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  margin: -234px auto 0 106px;
  padding: 5px 15px 7px 14px;
}

.u-section-1 .u-btn-2 {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  margin: -33px auto 0 747px;
  padding: 2px 14px 3px;
}

.u-section-1 .u-btn-3 {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  margin: -30px auto 0 890px;
  padding: 2px 15px 2px 13px;
}

.u-section-1 .u-btn-4 {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  margin: -71px auto 0 621px;
  padding: 3px 13px 5px 11px;
}

.u-section-1 .u-btn-5 {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  margin: 30px auto 0 621px;
  padding: 4px 12px 5px;
}

.u-section-1 .u-text-12 {
  font-family: "Noto Serif Thai";
  font-size: 1.75rem;
  margin: 142px auto 24px 93px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1255px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 940px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 20px;
    margin-left: 119px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 257px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 188px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 331px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 402px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 472px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 543px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 611px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 679px;
  }

  .u-section-1 .u-icon-10 {
    margin-top: -65px;
    margin-left: 750px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-left: 135px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 256px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 202px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 338px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 411px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 490px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 549px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 624px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 676px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-left: 750px;
  }

  .u-section-1 .u-image-1 {
    height: 361px;
    margin-top: 14px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -193px;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -41px;
    margin-left: 612px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -27px;
    margin-left: 723px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 504px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 504px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 126px;
    margin-bottom: 50px;
    margin-left: 61px;
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1213px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 15px;
    margin-left: 128px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 227px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 326px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 425px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 524px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 61px;
    margin-left: 128px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 227px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 326px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 425px;
  }

  .u-section-1 .u-icon-10 {
    margin-top: -64px;
    margin-left: 524px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -125px;
    margin-left: 145px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 228px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 339px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 435px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 535px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 103px;
    margin-left: 149px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 234px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 341px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 422px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 521px;
  }

  .u-section-1 .u-image-1 {
    height: 220px;
    margin-top: 33px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -122px;
    margin-left: 61px;
    padding: 0 9px 0 8px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -20px;
    margin-left: 470px;
    padding: 0 8px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -30px;
    margin-left: 558px;
    padding: 0 8px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -59px;
    margin-left: 390px;
    padding: 0 8px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 24px;
    margin-left: 390px;
    padding: 0 8px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
    margin-top: 88px;
    margin-bottom: 17px;
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1139px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
    margin-left: 70px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 152px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 236px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 318px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 402px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 70px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 152px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 236px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 320px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 402px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 87px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 154px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 250px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 330px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 414px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 91px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -23px;
    margin-left: 159px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 251px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 318px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 399px;
  }

  .u-section-1 .u-image-1 {
    height: 159px;
    margin-top: 26px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: -88px;
    margin-left: 55px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.625rem;
    margin-top: -13px;
    margin-left: 353px;
    padding-left: 6px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.625rem;
    margin-left: 422px;
    padding-right: 5px;
    padding-left: 4px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.625rem;
    margin-top: -29px;
    margin-left: 294px;
    padding-right: 6px;
    padding-left: 4px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.625rem;
    margin-top: 18px;
    margin-left: 294px;
    padding-right: 6px;
    padding-left: 5px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 17px;
    margin-left: 137px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 2px;
    margin-right: -88px;
    width: 340px;
  }

  .u-section-1 .u-icon-1 {
    width: 33px;
    height: 33px;
    margin-left: 42px;
  }

  .u-section-1 .u-icon-2 {
    width: 33px;
    height: 33px;
    margin-top: -33px;
    margin-left: 111px;
  }

  .u-section-1 .u-icon-3 {
    width: 33px;
    height: 33px;
    margin-top: -33px;
    margin-right: 137px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-4 {
    width: 33px;
    height: 33px;
    margin-top: -33px;
    margin-left: 225px;
  }

  .u-section-1 .u-icon-5 {
    width: 33px;
    height: 33px;
    margin-top: -33px;
    margin-left: 280px;
  }

  .u-section-1 .u-icon-6 {
    width: 33px;
    height: 33px;
    margin-top: 33px;
    margin-right: 26px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-7 {
    width: 33px;
    height: 33px;
    margin-top: -33px;
    margin-left: 225px;
  }

  .u-section-1 .u-icon-8 {
    width: 33px;
    height: 33px;
    margin-top: -33px;
    margin-right: 137px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-9 {
    width: 33px;
    height: 33px;
    margin-top: -33px;
    margin-left: 42px;
  }

  .u-section-1 .u-icon-10 {
    width: 33px;
    height: 33px;
    margin-top: -33px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -66px;
    margin-left: 45px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
    margin-top: -19px;
    margin-left: 101px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.75rem;
    margin-top: -19px;
    margin-right: 138px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.75rem;
    margin-top: -19px;
    margin-right: 79px;
    margin-left: 208px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.75rem;
    margin-top: -19px;
    margin-right: 25px;
    margin-left: 261px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.75rem;
    margin-top: 47px;
    margin-right: 33px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.75rem;
    margin-top: -19px;
    margin-right: 75px;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    font-size: 0.75rem;
    margin-top: -19px;
    margin-right: 139px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    font-size: 0.75rem;
    margin-top: -19px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-11 {
    font-size: 0.75rem;
    margin-top: -19px;
    margin-left: 97px;
  }

  .u-section-1 .u-image-1 {
    height: 106px;
    margin-top: 15px;
  }

  .u-section-1 .u-btn-1 {
    font-family: "Noto Serif Thai";
    margin-top: -61px;
    margin-left: 20px;
    padding-right: 9px;
    padding-left: 7px;
  }

  .u-section-1 .u-btn-2 {
    font-family: "Noto Serif Thai";
    margin-top: -20px;
    margin-right: 98px;
    margin-left: auto;
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-1 .u-btn-3 {
    font-family: "Noto Serif Thai";
    margin-top: -16px;
    margin-left: 260px;
    padding-right: 8px;
    padding-left: 7px;
  }

  .u-section-1 .u-btn-4 {
    font-family: "Noto Serif Thai";
    margin-right: 142px;
    margin-left: auto;
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-1 .u-btn-5 {
    font-family: "Noto Serif Thai";
    margin-top: 9px;
    margin-left: 180px;
    padding-right: 8px;
    padding-left: 7px;
  }

  .u-section-1 .u-text-12 {
    margin: 48px 19px 17px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 799px;
}

.u-section-2 .u-shape-1 {
  width: 938px;
  left: 0;
  right: auto;
}

.u-section-2 .u-text-1 {
  font-family: "Noto Serif Thai";
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 1026px;
  margin: 29px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 609px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 607px;
  margin: 2px 0 0 8px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 609px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 54px auto 0 200px;
  padding: 6px;
}

.u-section-2 .u-icon-2 {
  width: 26px;
  height: 26px;
  margin: -79px 63px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -10px auto 0 79px;
  padding: 6px;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 30px auto 0 79px;
  padding: 6px;
}

.u-section-2 .u-icon-5 {
  width: 26px;
  height: 26px;
  margin: -74px auto 0 134px;
  padding: 0;
}

.u-section-2 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: -16px auto 0 194px;
  padding: 6px;
}

.u-section-2 .u-icon-7 {
  width: 26px;
  height: 26px;
  margin: -74px 68px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: 78px auto 0 79px;
  padding: 6px;
}

.u-section-2 .u-shape-2 {
  width: 34px;
  height: 34px;
  margin: -77px auto 0 125px;
}

.u-section-2 .u-text-2 {
  margin: -30px auto 0 132px;
}

.u-section-2 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: -17px auto 0 194px;
  padding: 6px;
}

.u-section-2 .u-icon-10 {
  width: 26px;
  height: 26px;
  margin: -77px 68px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-11 {
  width: 64px;
  height: 64px;
  margin: 82px auto 0 79px;
  padding: 6px;
}

.u-section-2 .u-shape-3 {
  width: 34px;
  height: 34px;
  margin: -80px auto 0 125px;
}

.u-section-2 .u-icon-12 {
  width: 64px;
  height: 64px;
  margin: -13px auto 0 194px;
  padding: 6px;
}

.u-section-2 .u-icon-13 {
  width: 25px;
  height: 25px;
  margin: -78px 68px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-14 {
  width: 64px;
  height: 64px;
  margin: 82px auto 0 79px;
  padding: 6px;
}

.u-section-2 .u-icon-15 {
  width: 26px;
  height: 26px;
  margin: -74px auto 0 130px;
  padding: 0;
}

.u-section-2 .u-icon-16 {
  width: 64px;
  height: 64px;
  margin: -11px auto 0 194px;
  padding: 6px;
}

.u-section-2 .u-icon-17 {
  width: 26px;
  height: 26px;
  margin: -78px 68px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: -286px 244px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 558px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 183px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -74px;
    margin-right: 66px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -15px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 123px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 177px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 133px;
  }

  .u-section-2 .u-icon-9 {
    margin-top: -16px;
    margin-left: 177px;
  }

  .u-section-2 .u-icon-12 {
    margin-top: -12px;
    margin-left: 177px;
  }

  .u-section-2 .u-icon-15 {
    margin-left: 119px;
  }

  .u-section-2 .u-icon-16 {
    margin-top: -12px;
    margin-left: 177px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -283px;
    margin-right: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-2 .u-shape-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-2 .u-custom-html-1 {
    min-height: 600px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 140px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 33px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 53px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 53px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 101px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 136px;
  }

  .u-section-2 .u-icon-7 {
    margin-right: 36px;
  }

  .u-section-2 .u-icon-8 {
    margin-top: 74px;
    margin-left: 53px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -74px;
    margin-left: 94px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -29px;
    margin-left: 101px;
  }

  .u-section-2 .u-icon-9 {
    margin-left: 136px;
  }

  .u-section-2 .u-icon-10 {
    margin-top: -73px;
    margin-right: 34px;
  }

  .u-section-2 .u-icon-11 {
    margin-top: 78px;
    margin-left: 53px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -81px;
    margin-left: 93px;
  }

  .u-section-2 .u-icon-12 {
    margin-top: -11px;
    margin-left: 136px;
  }

  .u-section-2 .u-icon-13 {
    margin-top: -80px;
    margin-right: 34px;
  }

  .u-section-2 .u-icon-14 {
    margin-top: 88px;
    margin-left: 56px;
  }

  .u-section-2 .u-icon-15 {
    margin-top: -78px;
    margin-left: 101px;
  }

  .u-section-2 .u-icon-16 {
    margin-left: 136px;
  }

  .u-section-2 .u-icon-17 {
    margin-right: 34px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -284px;
    margin-right: 94px;
    margin-left: 576px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 584px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 120px;
    margin-left: 41px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -77px;
    margin-right: auto;
    margin-left: 87px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -108px;
    margin-left: 36px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -64px;
    margin-left: 125px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -76px;
    margin-left: 172px;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 82px;
    margin-left: 125px;
  }

  .u-section-2 .u-icon-7 {
    margin-top: -77px;
    margin-right: auto;
    margin-left: 172px;
  }

  .u-section-2 .u-icon-8 {
    margin-top: -108px;
    margin-left: 214px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -80px;
    margin-right: 233px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 240px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-9 {
    margin-top: 82px;
    margin-left: 214px;
  }

  .u-section-2 .u-icon-10 {
    margin-top: -77px;
    margin-right: 233px;
  }

  .u-section-2 .u-icon-11 {
    margin-top: -108px;
    margin-right: 159px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -80px;
    margin-right: 152px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-12 {
    margin-top: 77px;
    margin-right: 159px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-13 {
    margin-top: -77px;
    margin-right: 152px;
  }

  .u-section-2 .u-icon-14 {
    margin-top: -107px;
    margin-right: 76px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-15 {
    margin-top: -76px;
    margin-right: 66px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-16 {
    margin-top: 81px;
    margin-right: 76px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-17 {
    margin-top: -77px;
    margin-right: 69px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -186px;
    margin-right: 140px;
    margin-left: 346px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 133px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-1 {
    width: 34px;
    height: 34px;
    margin-top: 69px;
    margin-left: 20px;
    padding: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -49px;
    margin-left: 39px;
  }

  .u-section-2 .u-icon-3 {
    width: 34px;
    height: 34px;
    margin-top: -58px;
    margin-left: 20px;
    padding: 0;
  }

  .u-section-2 .u-icon-4 {
    width: 34px;
    height: 34px;
    margin-top: -34px;
    margin-left: 73px;
    padding: 0;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -45px;
    margin-left: 95px;
  }

  .u-section-2 .u-icon-6 {
    width: 34px;
    height: 34px;
    margin-top: 32px;
    margin-left: 73px;
    padding: 0;
  }

  .u-section-2 .u-icon-7 {
    margin-top: -49px;
    margin-left: 95px;
  }

  .u-section-2 .u-icon-8 {
    width: 34px;
    height: 34px;
    margin-top: -58px;
    margin-left: 127px;
    padding: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 28px;
    height: 28px;
    margin-top: -47px;
    margin-right: auto;
    margin-left: 146px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -26px;
    margin-right: auto;
    margin-left: 150px;
  }

  .u-section-2 .u-icon-9 {
    width: 34px;
    height: 34px;
    margin-top: 32px;
    margin-left: 127px;
    padding: 0;
  }

  .u-section-2 .u-icon-10 {
    margin-top: -46px;
    margin-right: auto;
    margin-left: 152px;
  }

  .u-section-2 .u-icon-11 {
    width: 34px;
    height: 34px;
    margin-top: -60px;
    margin-right: 128px;
    padding: 0;
  }

  .u-section-2 .u-shape-3 {
    width: 28px;
    height: 28px;
    margin-top: -50px;
    margin-right: 114px;
  }

  .u-section-2 .u-icon-12 {
    width: 34px;
    height: 34px;
    margin-top: 34px;
    margin-right: 128px;
    padding: 0;
  }

  .u-section-2 .u-icon-13 {
    margin-top: -47px;
    margin-right: 117px;
  }

  .u-section-2 .u-icon-14 {
    width: 34px;
    height: 34px;
    margin-top: -57px;
    margin-right: 80px;
    padding: 0;
  }

  .u-section-2 .u-icon-15 {
    margin-top: -50px;
    margin-right: 67px;
  }

  .u-section-2 .u-icon-16 {
    width: 34px;
    height: 34px;
    margin-top: 35px;
    margin-right: 80px;
    padding: 0;
  }

  .u-section-2 .u-icon-17 {
    margin-top: -48px;
    margin-right: 66px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -125px;
    margin-right: 91px;
    margin-left: 199px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 769px;
}

.u-section-3 .u-group-1 {
  min-height: 769px;
  height: auto;
  width: 966px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 7px 17px;
}

.u-section-3 .u-text-1 {
  font-family: "Noto Serif Thai";
  font-size: 3rem;
  margin: 25px 39px 0 auto;
}

.u-section-3 .u-layout-wrap-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 90%;
  margin: -675px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 607px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 607px;
  width: 701px;
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 607px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 150px auto 0 70px;
  padding: 6px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px 69px 0 auto;
  padding: 6px;
}

.u-section-3 .u-icon-3 {
  width: 26px;
  height: 26px;
  margin: -76px 57px 0 auto;
  padding: 0;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 80px 69px 0 auto;
  padding: 6px;
}

.u-section-3 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 70px;
  padding: 6px;
}

.u-section-3 .u-icon-6 {
  width: 26px;
  height: 26px;
  margin: -77px 57px 0 auto;
  padding: 0;
}

.u-section-3 .u-icon-7 {
  width: 26px;
  height: 26px;
  margin: -26px auto 0 123px;
  padding: 0;
}

.u-section-3 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: 82px auto 0 70px;
  padding: 6px;
}

.u-section-3 .u-icon-9 {
  width: 26px;
  height: 26px;
  margin: -75px auto 0 123px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 36px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 600px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-icon-4 {
    padding: 0;
  }

  .u-section-3 .u-icon-8 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 32px;
    margin-right: auto;
  }

  .u-section-3 .u-custom-html-1 {
    min-height: 600px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 75px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 225px;
    margin-right: auto;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -74px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: -210px;
    margin-right: auto;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 224px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-6 {
    margin-top: -72px;
  }

  .u-section-3 .u-icon-7 {
    margin-top: -324px;
    margin-right: 57px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-8 {
    margin-top: 86px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-9 {
    margin-top: -72px;
    margin-right: 57px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-3 .u-group-1 {
    min-height: 890px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 486px;
    margin-top: -796px;
    margin-bottom: 35px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 154px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 45px;
    margin-left: 33px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -59px;
    margin-left: 290px;
  }

  .u-section-3 .u-icon-3 {
    width: 31px;
    height: 31px;
    margin-top: -78px;
    margin-right: 100px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: -22px;
    margin-left: 119px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: -60px;
    margin-left: 369px;
  }

  .u-section-3 .u-icon-6 {
    margin-right: 21px;
  }

  .u-section-3 .u-icon-7 {
    margin-top: -31px;
    margin-right: auto;
    margin-left: 163px;
  }

  .u-section-3 .u-icon-8 {
    margin-top: -13px;
    margin-left: 204px;
  }

  .u-section-3 .u-icon-9 {
    margin-right: 191px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-bottom: 180px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    width: 230px;
    margin-top: 54px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 108px;
  }

  .u-section-3 .u-icon-1 {
    width: 34px;
    height: 34px;
    margin-top: 37px;
    margin-left: 35px;
    padding: 0;
  }

  .u-section-3 .u-icon-2 {
    width: 34px;
    height: 34px;
    margin-top: -34px;
    margin-right: 94px;
    margin-left: auto;
    padding: 0;
  }

  .u-section-3 .u-icon-3 {
    width: 25px;
    height: 25px;
    margin-top: -52px;
    margin-right: 81px;
  }

  .u-section-3 .u-icon-4 {
    width: 34px;
    height: 34px;
    margin-top: -7px;
    margin-left: 84px;
  }

  .u-section-3 .u-icon-5 {
    width: 34px;
    height: 34px;
    margin-top: -34px;
    margin-right: 44px;
    margin-left: auto;
    padding: 0;
  }

  .u-section-3 .u-icon-6 {
    width: 25px;
    height: 25px;
    margin-top: -52px;
    margin-right: 25px;
  }

  .u-section-3 .u-icon-7 {
    width: 25px;
    height: 25px;
    margin-top: -25px;
    margin-left: 104px;
  }

  .u-section-3 .u-icon-8 {
    width: 34px;
    height: 34px;
    margin-top: -7px;
    margin-left: 136px;
  }

  .u-section-3 .u-icon-9 {
    width: 25px;
    height: 25px;
    margin-top: -52px;
    margin-right: 135px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 769px;
}

.u-section-4 .u-shape-1 {
  background-image: none;
  width: 823px;
  height: 766px;
  margin: 3px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-family: "Noto Serif Thai";
  font-size: 3rem;
  margin: -749px auto 0 31px;
}

.u-section-4 .u-layout-wrap-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 90%;
  margin: 10px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 607px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 607px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 150px auto 0 70px;
  padding: 6px;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px 69px 0 auto;
  padding: 6px;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 30px 69px 0 auto;
  padding: 6px;
}

.u-section-4 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 70px;
  padding: 6px;
}

.u-section-4 .u-icon-5 {
  width: 25px;
  height: 25px;
  margin: -75px auto 0 121px;
  padding: 0;
}

.u-section-4 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 80px auto 0 70px;
  padding: 6px;
}

.u-section-4 .u-icon-7 {
  width: 25px;
  height: 25px;
  margin: -74px auto 0 121px;
  padding: 0;
}

.u-section-4 .u-icon-8 {
  width: 26px;
  height: 25px;
  margin: -215px 57px 0 auto;
  padding: 0;
}

.u-section-4 .u-icon-9 {
  width: 26px;
  height: 25px;
  margin: 69px 57px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 31px;
    padding: 0;
  }

  .u-section-4 .u-icon-8 {
    height: 26px;
  }

  .u-section-4 .u-icon-9 {
    height: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-custom-html-1 {
    height: auto;
    min-height: 600px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 81px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-2 {
    width: 66px;
    height: 65px;
    margin-top: 217px;
    margin-right: auto;
  }

  .u-section-4 .u-icon-3 {
    margin-top: -250px;
    margin-right: auto;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 209px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-5 {
    margin-top: -163px;
    margin-right: 58px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-6 {
    margin-top: -108px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-7 {
    margin-top: 104px;
    margin-right: 57px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-8 {
    margin-top: -298px;
    margin-right: 56px;
  }

  .u-section-4 .u-icon-9 {
    margin-top: 67px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-4 .u-shape-1 {
    height: 887px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: -870px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 486px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 572px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 127px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 27px;
    margin-left: 27px;
  }

  .u-section-4 .u-icon-2 {
    height: 66px;
    margin-top: -66px;
    margin-right: 114px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: -64px;
    margin-left: 110px;
  }

  .u-section-4 .u-icon-4 {
    margin-top: -64px;
    margin-right: 38px;
  }

  .u-section-4 .u-icon-5 {
    margin-top: -76px;
    margin-right: 102px;
  }

  .u-section-4 .u-icon-6 {
    margin-top: -13px;
    margin-left: 195px;
  }

  .u-section-4 .u-icon-7 {
    margin-top: -78px;
    margin-right: 23px;
  }

  .u-section-4 .u-icon-8 {
    margin-top: -25px;
    margin-right: 262px;
  }

  .u-section-4 .u-icon-9 {
    margin-top: -24px;
    margin-right: 180px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 89px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-1 {
    width: 33px;
    height: 34px;
    padding: 0;
  }

  .u-section-4 .u-icon-2 {
    width: 33px;
    height: 34px;
    margin-top: -34px;
    margin-right: 109px;
    padding: 0;
  }

  .u-section-4 .u-icon-3 {
    width: 33px;
    height: 34px;
    margin-top: -34px;
    margin-left: 84px;
  }

  .u-section-4 .u-icon-4 {
    width: 33px;
    height: 34px;
    margin-top: -34px;
    margin-right: 52px;
    padding: 0;
  }

  .u-section-4 .u-icon-5 {
    margin-top: -52px;
    margin-right: auto;
    margin-left: 102px;
  }

  .u-section-4 .u-icon-6 {
    width: 33px;
    height: 34px;
    margin-top: -7px;
    margin-left: 137px;
    padding: 0;
  }

  .u-section-4 .u-icon-7 {
    margin-top: -52px;
    margin-right: auto;
  }

  .u-section-4 .u-icon-8 {
    margin-top: -26px;
    margin-right: 38px;
  }

  .u-section-4 .u-icon-9 {
    margin-top: -25px;
    margin-right: 95px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 765px;
}

.u-section-5 .u-group-1 {
  width: 823px;
  min-height: 765px;
  height: auto;
  margin: 0 0 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-family: "Noto Serif Thai";
  font-size: 3rem;
  margin: 17px 100px 0 auto;
}

.u-section-5 .u-group-2 {
  width: 941px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 615px;
  height: auto;
  margin: -690px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 16px 30px;
}

.u-section-5 .u-gallery-1 {
  height: 579px;
  grid-gap: 10px 10px;
  width: 848px;
  margin: 0 auto;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    margin-top: 2px;
    height: auto;
  }

  .u-section-5 .u-group-2 {
    margin-top: -667px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 32px;
    margin-right: auto;
  }

  .u-section-5 .u-gallery-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-gallery-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 21px;
  }

  .u-section-5 .u-gallery-1 {
    width: 320px;
  }

  .u-section-5 .u-carousel-item-1 {
    height: 579px;
    margin-left: 0;
  }

  .u-section-5 .u-over-slide-1 {
    padding: 14px;
  }

  .u-section-5 .u-over-slide-2 {
    padding: 14px;
  }

  .u-section-5 .u-over-slide-3 {
    padding: 14px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 769px;
}

.u-section-6 .u-shape-1 {
  background-image: none;
}

.u-section-6 .u-text-1 {
  font-family: "Noto Serif Thai";
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-wrap-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 90%;
  margin: 20px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 600px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 607px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 115px auto 0 133px;
  padding: 6px;
}

.u-section-6 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 30px auto 0 133px;
  padding: 6px;
}

.u-section-6 .u-icon-3 {
  width: 26px;
  height: 26px;
  margin: -79px 133px 0 auto;
  padding: 0;
}

.u-section-6 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 90px auto 0 133px;
  padding: 6px;
}

.u-section-6 .u-icon-5 {
  width: 25px;
  height: 25px;
  margin: -80px auto 0 184px;
  padding: 0;
}

.u-section-6 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 85px auto 0 133px;
  padding: 6px;
}

.u-section-6 .u-icon-7 {
  width: 25px;
  height: 26px;
  margin: -75px 133px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-6 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 31px;
  }

  .u-section-6 .u-icon-3 {
    margin-top: -78px;
    margin-right: 73px;
  }

  .u-section-6 .u-icon-4 {
    margin-top: 77px;
  }

  .u-section-6 .u-icon-5 {
    margin-top: -79px;
    margin-right: 73px;
    margin-left: auto;
  }

  .u-section-6 .u-icon-6 {
    margin-top: 96px;
  }

  .u-section-6 .u-icon-7 {
    height: 25px;
    margin-right: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-custom-html-1 {
    height: auto;
    min-height: 600px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 121px;
    margin-left: 69px;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 69px;
  }

  .u-section-6 .u-icon-3 {
    margin-top: -75px;
    margin-right: auto;
    margin-left: 121px;
  }

  .u-section-6 .u-icon-4 {
    margin-top: 109px;
    margin-left: 69px;
  }

  .u-section-6 .u-icon-5 {
    margin-top: -81px;
    margin-right: auto;
    margin-left: 121px;
  }

  .u-section-6 .u-icon-6 {
    margin-top: 98px;
    margin-left: 69px;
  }

  .u-section-6 .u-icon-7 {
    margin-top: -76px;
    margin-right: auto;
    margin-left: 121px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 486px;
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 575px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 134px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 37px;
    margin-left: 27px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: -64px;
    margin-left: 123px;
  }

  .u-section-6 .u-icon-3 {
    margin-top: -77px;
    margin-left: 169px;
  }

  .u-section-6 .u-icon-4 {
    margin-top: -13px;
    margin-right: 147px;
    margin-left: auto;
  }

  .u-section-6 .u-icon-5 {
    margin-top: -77px;
    margin-right: 135px;
    margin-left: auto;
  }

  .u-section-6 .u-icon-6 {
    margin-top: -12px;
    margin-right: 47px;
    margin-left: auto;
  }

  .u-section-6 .u-icon-7 {
    margin-top: -77px;
    margin-right: 39px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 94px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-6 .u-icon-1 {
    width: 34px;
    height: 34px;
    margin-top: 30px;
    margin-left: 46px;
    padding: 0;
  }

  .u-section-6 .u-icon-2 {
    width: 34px;
    height: 34px;
    margin-top: -34px;
    margin-left: 110px;
    padding: 0;
  }

  .u-section-6 .u-icon-3 {
    margin-top: -48px;
    margin-left: 132px;
  }

  .u-section-6 .u-icon-4 {
    width: 34px;
    height: 34px;
    margin-top: -12px;
    margin-right: 122px;
    padding: 0;
  }

  .u-section-6 .u-icon-5 {
    margin-top: -48px;
    margin-right: 105px;
  }

  .u-section-6 .u-icon-6 {
    width: 34px;
    height: 34px;
    margin-top: -11px;
    margin-right: 58px;
    padding: 0;
  }

  .u-section-6 .u-icon-7 {
    margin-top: -47px;
  }
}